@model MVC.ViewModels.PessoaViewModel

@{
    ViewBag.Title = "Cadastro de Pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>Cadastro de Pessoa</h2>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary();

            @Html.HiddenFor(c => Model.Codigo)
            
            <div class="form-group">
                @Html.LabelFor(c => Model.Cpf)
                @Html.TextBoxFor(c => Model.Cpf, new { @class = "form-control"})
                @Html.ValidationMessageFor(c => Model.Cpf)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => Model.Nome)
                @Html.TextBoxFor(c => Model.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => Model.Nome)
                @Html.ValidationMessageFor(c => Model.Nome)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => Model.Sobrenome)
                @Html.TextBoxFor(c => Model.Sobrenome, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(c => Model.Email)
                @Html.TextBoxFor(c => Model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => Model.Email)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => Model.Telefone)
                @Html.TextBoxFor(c => Model.Telefone, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(c => Model.DataNascimento)
                @Html.TextBoxFor(c => Model.DataNascimento, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(c => Model.Captha)
                @Html.TextBoxFor(c => Model.Captha, new { @class = "form-control" })
            </div>

            <input type="submit" name="Salvar" class="btn btn-default"/>

        }
    </div>
</body>
</html>
